<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>19/02/06 21:46:02</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;spring_boot_selenium.beforeTest()[pri:0, instance:cicd.spring_boot_selenium@5c3bd550]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/02/06 21:46:02</td>   <td>71</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="spring_boot_selenium.testPageContent()[pri:0, instance:cicd.spring_boot_selenium@5c3bd550]">testPageContent</td> 
  <td>main@1164371389</td>   <td></td> </tr>
</table>
